.about {
  .container {
    max-width: 950px;
    margin: 0 auto;
  }
  .container >* {
    text-align: start;
  }
}

.about__list {
  padding: 0 30px;
}

.about__item {
  list-style: circle;
  text-align: start;
  margin-right: 10px;
}