.header {
  margin: 20px;
}

.container {

}

.header__logotype {

}

.header__logo {

}

.header__nav {

}

.header__list {

}

.header__item {

}

.header__link {

}

.header__control {

}

.header__themeToggle {

}

.header__icon {

}

.header__selectLang {

}

.header__optionLang {

}