.header {
  //margin: 20px;
  position: sticky;
  top: 0;
}

.container {

}

.header__logotype {

}

.header__logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header__title {
  margin: 0;
}

.header__nav {

}

.header__list {

}

.header__item {

}

.header__link {

}

.header__control {

}

.header__themeToggle {
}

.header__icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.header__selectLang {
  padding: 8px;
  background-color: var(--color-text-secondary);
  border-radius: 4px;
}

.header__optionLang {

}