.header {
  display: block;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: var(--color-border-dark);
  z-index: 1000;
}
.header__logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header__title {
  margin: 0;
}

.header__icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.header__selectLang {
  padding: 8px;
  background-color: var(--color-text-secondary);
  border-radius: 4px;
}
