.header {
  display: block;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: var(--color-border-dark);
  z-index: 1000;
}
.header__logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.header__title {
  margin: 0;
}

.header__icon {
  width: 36px;
  height: 36px;
  object-fit: contain;
}

.header__selectLang {
  padding: 8px;
  background-color: var(--color-border-dark);
  border-radius: 4px;
}

.header__control {
  position: relative;
}

.header__btn {
  display: none;
}

.header__menu {
  position: absolute;
  top: 50px;
  left: 0px;
}
.header__menu >* {
  text-align: start;
}


@media (max-width: 900px) {
  .header__nav {
    display: none;
  }
  .header__btn {
    display: block;
  }
}