.hero__img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border-radius: 150px;
}

.hero__content {
  align-self: flex-start;
  max-width: 500px;
}

.hero__content >* {
  text-align: start;
}