.container {
  border-radius: 20px;
  padding: 30px;
  width: 1200px;
  margin: 0 auto;
}

.block {
  background-color: var(--color-border-dark);
  border-radius: 20px;
  padding: 20px 40px;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.ais {
  align-items: start;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly;
}

.p20px {
  padding: 20px;
}

.jcsb {
  justify-content: space-between;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.border {
  border: 2px solid var(--color-border-light);
}

.fww {
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  position: relative;
  padding-bottom: 4px;
  display: inline-block;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--color-accent);
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}