.container {
  border-radius: 20px;
  padding: 30px;
  width: 1200px;
}

.block {
  background-color: var(--color-text-secondary);
  border-radius: 20px;
  padding: 20px 40px;
}

.df {
  display: flex;
}

.fdc {
  flex-direction: column;
}

.aic {
  align-items: center;
}

.ais {
  align-items: start;
}

.jcc {
  justify-content: center;
}

.jcse {
  justify-content: space-evenly;
}

.p20px {
  padding: 20px;
}

.jcsb {
  justify-content: space-between;
}

.g10 {
  gap: 10px;
}

.g20 {
  gap: 20px;
}

.border {
  border: 2px solid var(--color-border-light);
}

.fww {
  flex-wrap: wrap;
}