.portfolio__card {
  max-width: 700px;
  //transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  //will-change: transform;
  //
  //&:hover {
  //  transform: translateY(-8px);
  //  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  //}
}

.portfolio__info >* {
  text-align: start;
}